.DS_Store
.git
.github
.vscode
.cache
logs
plugins
tmp
examples
maintenance
scripts
*.pem
*-credentials.yaml
*-credentials.json
gha-creds-*.json
*.local.yaml
*.local.yml
*.env.local
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local
*.local.sh
z-*
z-*.*
z.*
*.tgz
*.tar.gz
*.zip
*.tmp
*.bak
*.old
*.new
*.swp
*.noindex
tmp/

# Docker PostgreSQL contents
pg-data/
pg-init/
pg-load/
