name: Build container and push to Dockerhub

on:
  push:
    branches:
      - main
      - 'releases/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      packages: write
      contents: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          driver-opts: image=moby/buildkit:master,network=host

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get tag name and version from Dockerfile
        run: |
          PG_VERSION=$(grep FROM Dockerfile | awk -F: '{print $2}')
          echo "Setting PG_VERSION to $PG_VERSION"
          echo "PG_VERSION=${PG_VERSION}" >> $GITHUB_ENV

          if [[ "${{ env.BRANCH_NAME }}" == "main" ]]; then
            echo "Setting tag name to latest"
            echo "TAG_NAME=latest" >> $GITHUB_ENV
          elif [[ "${{ env.BRANCH_NAME }}" =~ ^refs/tags/.* ]]; then
            tName="${{ env.BRANCH_NAME }}"
            echo "Setting tag name to ${tName#refs/tags/}"
            echo "TAG_NAME=${tName#refs/tags/}" >> $GITHUB_ENV
          else
            echo "Setting tag name to ${{ env.BRANCH_NAME }}"
            echo "TAG_NAME=${{ env.BRANCH_NAME }}" >> $GITHUB_ENV
          fi
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: alchen99/postgis:${{ env.TAG_NAME }},alchen99/postgis:${{ env.PG_VERSION }},ghcr.io/${{ github.repository }}:${{ env.TAG_NAME }},ghcr.io/${{ github.repository }}:${{ env.PG_VERSION }}
